<configuration>
  <system.webServer>
    
    <!-- MUST HAVE WEB.CONFIG TO ACCESS FILES -->
    <!-- MUST HAVE PACKAGE.JSON TO DOWNLOAD REQUIREMENTS -->
    
    <handlers>
      <add name="iisnode" path="node.js" verb="*" modules="iisnode" />
    </handlers>
    
    <defaultDocument enabled="true">
      <files>
        <add value="node.js" />
      </files>
    </defaultDocument>
    
  </system.webServer>
</configuration>